.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: rgb(18 39 156);
  --secondary-color: rgb(67 129 223);
  --inverted-primary-color: green;
  --inverted-secondary-color: rgb(53 218 53);
}